@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Reset Password Dikirim";
}

<div class="container mt-5">
    <div class="card shadow mx-auto border-info" style="max-width: 500px;">
        <div class="card-body text-center">
            <div class="mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="64" height="64" fill="#17a2b8" class="bi bi-envelope-check-fill" viewBox="0 0 16 16">
                    <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.812L0 4.697zM6.761 8.83 0 13.801A2 2 0 0 0 2 14h12a2 2 0 0 0 2-2V4.697l-6.761 4.133a1 1 0 0 1-1.238 0z" />
                    <path d="M16 8.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h4.5v3.5a.5.5 0 0 0 1 0V8.5z" />
                </svg>
            </div>
            <h4 class="text-info mb-3">Link reset password sudah dikirim 📩</h4>
            <p class="mb-4">Silakan periksa email kamu untuk mengatur ulang kata sandi.</p>
            <a href="/Account/Login" class="btn btn-info">Kembali ke Login</a>
        </div>
    </div>
</div>
