@{
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
    ViewData["Title"] = "Reset Password";

    var email = Context.Request.Query["email"];
    var token = Context.Request.Query["token"];
}

<div class="container mt-5">
    <div class="card mx-auto shadow" style="max-width: 400px;">
        <div class="card-body">
            <h4 class="card-title text-center">Reset Your Password</h4>
            <form action="/Account/ResetPassword" method="post">
                <input type="hidden" name="Email" value="@email" />
                <input type="hidden" name="Token" value="@token" />


                <div class="mb-3">
                    <label for="Password" class="form-label">New Password</label>
                    <input name="Password" class="form-control" type="password" required />
                </div>

                <div class="mb-3">
                    <label for="ConfirmPassword" class="form-label">Confirm Password</label>
                    <input name="ConfirmPassword" class="form-control" type="password" required />
                </div>

                <button type="submit" class="btn btn-success w-100">Reset Password</button>
            </form>
        </div>
    </div>
</div>
